header
    .container
<<<<<<< HEAD
        a.logo(href=url_for())
            img(src=url_for(theme.logo))

        span(class='span-holder')

=======
        a.brand(href=url_for())
            img.logo(src=url_for(theme.logo))
>>>>>>> c6be0ce... Handle gulp error
        nav
            each value, key in theme.menu
                - var re = /^(http|https):\/\/*/gi;
                - var tar = re.test(value) ? '_blank' : '_self'
<<<<<<< HEAD
                a(href=url_for(value) target=tar)
=======
                a(class={active: is_current(url_for(value))} href=url_for(value) target=tar)
>>>>>>> c6be0ce... Handle gulp error
                    i(class='fa icon-#{key}')
